/*
font-family: 'Open Sans', sans-serif;
*/
body{
	width: 100%;
	overflow-x: hidden;
	margin: 0 auto;
	box-sizing: border-box;
}
.container{
	width: 1170px;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	}
.slicknav_menu{
	display: none;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
div.clear{
	clear: both;
}
.bg-top{
	height: 3px;
	background-color: rgb(65, 65, 65);
}
.header{
	background-color: whitesmoke;
	height: 109px;
	
}
.header-logo{
	margin-top: 28px;
	display: block;
	float: left;
}
.header-menu{
	float: right;
	margin-top: 48px;
}
.header-menu-item{
	float: left;
	margin-right: 45px;
}
.header-menu-item:last-child{
	margin-right: 0;
}
.header-menu-link{
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(96, 96, 96);
	text-decoration: none;
}
.header-menu-item_active a{
	color: rgb(26, 187, 156);
}
 /*---GREETING--*/
 
 .greeting{
	 padding: 65px 0 60px;
 }
 .greeting-header{
	 color: rgb(96, 96, 96);
	 font-size: 35px;
	 font-weight: 800;
	 padding-bottom: 14px;
 }
.greeting-p{
	color: rgb(96, 96, 96);
	 font-size: 25px;
	 font-weight: 300;
}	

/*-----SLIDER-----*/

.slick-next,
.slick-prev{
	width: 45px;
	height: 45px;
	z-index: 1;
}
.slick-next{
	right: 20px;
	background: url("../images/btn_right.png") no-repeat;
}
.slick-prev{
	left: 20px;
	background: url("../images/btn_left.png") no-repeat;
}
.slick-next:before,
.slick-prev:before{
	content: "";
}
.slider-content{
	position: absolute;
	bottom: 50px;
	left: 50px;
}
.slider-head,
.slider-text{
	height: 48px;
	background-color: rgba(255, 255, 255, 0.95);
	line-height: 48px;
	display: inline-block;
	padding: 0 20px;
}
.slider-head{
	color: rgb(96, 96, 96);
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 3px;
}
.slider-text{
	color: rgb(96, 96, 96);
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 3px;
}
.slider-text-link{
	color: rgb(26, 187, 156);
	text-decoration: none;
}
	
/*----SLIDER-END----*/

/*------WE-DO-----*/

.we-do,
.our-process,
.projects,
.customers,
.journals{
	padding: 80px 0;
}
.we-do-header-wrap,
.our-process-header-wrap,
.projects-header-wrap,
.customers-header-wrap,
.journals-header-wrap{
	text-align: center;
	margin: 52px;
}
.we-do-header,
.our-process-header,
.projects-header,
.customers-header,
.journals-header{
	color: rgb(96, 96, 96);
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
}
.our-process-header,
.customers-header{
	color: #d0d0d0;
}
.we-do-header:after,
.our-process-header:after,
.projects-header:after,
.customers-header:after,
.journals-header:after{
	margin-left: 20px;
}
.we-do-header:before,
.our-process-header:before,
.projects-header:before,
.customers-header:before,
.journals-header:before{
	margin-right: 20px;
}
.we-do-header:after,
.we-do-header:before,
.our-process-header:after,
.our-process-header:before,
.projects-header:after,
.projects-header:before,
.customers-header:after,
.customers-header:before,
.journals-header:after,
.journals-header:before{
	content: "";
	width: 82px;
	height:1px;
	background-color: rgb(225, 225, 225);
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 7px;
}
.we-do-header-content,
.our-process-header-content,
.projects-header-content,
.customers-header-content,
.journals-header-content{
	display: inline-block;
	}
.we-do-item{
	text-align: center;
	float: left;
	width: 23%;
	margin-right: 2.66%;
	box-sizing: border-box;
	
}
.we-do-item_last{
	margin-right: 0;
}
.we-do-item,
.we-do-item-border{
	border: 1px solid rgb(225, 225, 225);
}
.we-do-item-border{
	margin: 3px;
	height: 302px;
	box-sizing: border-box;
	
}
.we-do-item-img{
	height: 55px;
	padding: 49px 0 28px;
}
.we-do-item-header{
	color: rgb(96, 96, 96);
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 14px;
	padding: 0 15px;
	
}
.we-do-item-text{
	color: rgb(122, 122, 122);
	font-size: 14px;
	font-weight: 500;
	line-height: 25px;
	padding: 0 15px;
}

/*-------END-WE-DO---------*/
/*----OUR PROCESS----*/
.our-process{
	background: url("../images/our_process.png");
	width: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color: #d0d0d0;
}
.our-process-text{
	text-align: center;
	margin-bottom: 50px;
	padding: 0 115px;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
}
.our-process-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 75px;
}
.our-process-circle{
	margin-bottom: 15px;
}
.line{
	content: "";
	width: 190px;
	height:1px;
	background-color: rgb(225, 225, 225);
	margin: 0 20px;
}
.our-process-circle{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	border: 1px solid rgb(26, 187, 156);
	border-radius: 50%;
}
.our-process-circle1{
	background: rgb(26, 187, 156);
}
.our-process-results-text{
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 800;
}
/*----PROCESS END----*/
/*----PROJECTS----*/
.projects-list,
.journals-list{
	display: flex;
	justify-content: center;

}
.projects-list-item,
.journals-list-item{
	margin-right: 30px;
	box-sizing: border-box;
}
.projects-list-item:last-child,
.journals-list-item:last-child{
	margin-right: 10px;
}
.projects-content{
	padding: 20px 30px;
	text-align: center;
}
.projects-list-item-img,
.journals-list-item-img{
	width: 370px;
	height: 250px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	
}
.projects-list-item-heading{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 12px;
}
.projects-list-item-heading-sub{
	font-size: 12px;
	color: rgb(26, 187, 156);
	margin-bottom: 18px;
}
.projects-list-item-text{
	font-size: 14px;
	line-height: 25px;
}
.project-img1{
	background: url("../images/project1.png");
}
.project-img2{
	background: url("../images/project2.png");
}
.project-img3{
	background: url("../images/project3.png");
}
/*---PROJECTS END---*/
/*----CUSTOMERS----*/
.customers{
	background: url("../images/customers_bg.png");
	width: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.customers-text{
	padding: 0 115px;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	color: #d8d8d8;
}
.customers-text p{
	line-height: 35px;
}
.customers-author{
	font-size: 12px;
	font-weight: 800;
	color: rgb(26, 187, 156);
	margin-top: 25px;
	text-transform: uppercase;
}
/*---CUSTOMERS END----*/
/*----JOURNALS---*/
.journals-img1{
	background: url("../images/journals_img1.png");
}
.journals-img2{
	background: url("../images/journals_img2.png");
}
.journals-img3{
	background: url("../images/journals_img3.png");
}
.journals-list-item-data{
	display: flex;
	align-items: center;
	margin: 20px 0 15px;
}
.journals-list-item-data-number{
	text-align: center;
	margin-right: 15px;
	padding: 5px;
	box-sizing: border-box;
	font-size: 16px;
	height: 45px;
	width: 45px;
	border: 1px solid #7a7a7a;
	text-transform: uppercase;
}
.journals-list-item-data-heading-head{
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.journals-list-item-data-heading-comment{
	font-size: 12px;
	color: rgb(26, 187, 156);
}
.journals-list-item-text{
	font-size: 14px;
	line-height: 25px;
}
/*-----JOURNALS----*/
/*------FOOTER--------*/
.footer{
	padding: 65px 0;
	background-color: rgb(55, 55, 55);
}
.footer-block{
	width: 23%;
	margin-right: 2.66%;
	float: left;
}
.footer-block_last{
	margin-right: 0;
}
.footer-block-header{
	color: rgb(240, 240, 240);
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.footer-block-text{
	margin-bottom: 23px;
}
.footer-block-item .fa{
	display: inline-block;
	padding-right: 5px;
}
.footer-block-text,
.footer-block-item,
.footer-block-link{
	color: rgb(202, 202, 202);
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
}
.footer-block-link{
	text-decoration: none;
}
.footer-block-link:hover{
	text-decoration: underline;
}
/*---FOOTER END---*/
/*---------COPYRIGHT---------*/
.copyright{
	height: 91px;
	background: rgb(51, 51, 51);
	
}
.copyright-text{
	color: rgb(202, 202, 202);
	line-height: 91px;
	font-size: 14px;
	font-weight: 500;
}
/*-----COPYRIGHT END------*/






